/* Importing Roboto font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Titillium Web', sans-serif; /* Applying Roboto font to the body */
}


/* Navbar styles */
header {
  background-color: #333;
  color: #fff;
  padding: 25px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

/* Styling the active link */
nav ul li a.active {
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}

/* Removing dot style */
nav ul li a.active::before {
  content: none;
}

/* Bold and underline for active link */
nav ul li a.active,
nav ul li a:hover {
  text-decoration: none;
  font-weight: bold;
}



/* Style for character cards */
.character-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 300px;
  text-align: center;
}

/* Style for favorite characters section */
.favorite-characters {
  margin-top: 20px;
  display: flex;
  flex-direction: column; /* Ensure items stack vertically */
  align-items: center; /* Center items horizontally */
}

/* Style for favorite characters list */
.favorite-characters .favorite-characters-list {
  display: grid; /* Use CSS Grid */
  grid-template-columns: repeat(4, 1fr); /* Four columns per row */
  gap: 20px; /* Add some space between cards */
}


.character-list {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Add some space between cards */
}

.pagination button {
  background-color: rgb(0, 34, 255);
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 12px; /* Adjust margin as needed */
  font-family: 'Titillium Web', sans-serif; 
}

.pagination button:disabled {
  opacity: 0.6; /* Adjust opacity for disabled buttons */
  cursor: not-allowed;
}